body{
	font-family: 'Segoe UI';
	color: rgb(179,179,179);
	background-image: url(./img/home.jpg);
	opacity: 0.6;
}
	
.texto_home{
	font-size: 52px;
	color: white;
	
}

.sec01{
	color:black;
	
	height: 900px;
	width: 100%;
}
nav a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.barra_superior {

    border-bottom: 1px solid rgb(204,204,204);
	color: rgb(255, 255, 255);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	text-align: center;
	margin-bottom: 15px;
}

.container {

	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}
.clearfix{
	clear: both;
}
nav{
	padding-top: 45px;
	padding-right: 90px;
	float: right;
}

.img_logo{
	border: 1px solid rgb(255, 255, 255);
}